{{ partial:header }}

<div>
  <div class="container">
    <div class="row even my-4 px-3">
      <div class="col-12 col-md-6 mb-3 mb-sm-0">
        <div class="d-flex justify-content-center align-items-center flex-column h-100">
          <div class="page-intro me-0 me-md-4">
            <h1>I Will Help You Find Freedom and Sanity In The Digital World</h1>
            <p><img class="d-block d-md-none img-fluid rounded" src="/images/portrait-vasily-sq.jpg" alt="Vasily Simon Myazin"/></p>
            <p>My name is Vasily Simon. I work on digital products, apply UX design, develop language learning techniques, record podcasts all while traveling the world.</p>
            <p>Here I invite like-minded people to get coaching, collaborate, explore work opportunities, and friendship.</p>
            <div class="subtext">
              <p class="mb-4"><img class="align-text-bottom" src="/images/pin.svg"/>&nbsp;
                Currently in {{ site_info:location }}
              </p>
            </div>
            <div class="d-grid gap-2 d-md-block"><a class="btn btn-accent btn-lg button" href="mailto:contact@vasilym.com?subject=Inquiry from Vasily's website">Get In Touch With Me</a></div>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="d-flex justify-content-center align-items-center flex-column h-100"><img class="d-none d-md-block intro-photo rounded mt-4" src="/images/portrait-vasily.jpg" alt="Vasily Simon Myazin"/></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <hr class="dashed"/>
      </div>
    </div>
    <div class="row my-3 my-sm-5 px-3">
      <div class="col-12 offset-0 col-sm-3 offset-sm-1">
        <div class="d-flex justify-content-center align-items-center flex-column h-100"><img class="img-fluid ebook-photo mb-4 mb-0-sm" src="/images/kindle-lang-book.png" alt="Language Learner's StarterGuide"/></div>
      </div>
      <div class="col-12 col-sm">
        <div class="d-flex justify-content-center flex-column h-100">
          <h2>My Book On Learning Languages</h2>
          <div class="row">
            <p class="col col-md-9">Get started with learning language using the right mindset and techniques. I’ll give you a brief introduction.</p>
          </div>
          <div class="d-grid gap-2 d-md-block mb-4"><a class="btn btn-secondary btn-lg" href="https://read.amazon.com/kp/embed?asin=B098PLS7NM&amp;preview=newtab&amp;linkCode=kpe&amp;ref_=cm_sw_r_kb_dp_R9KDEJNAGNZ7HQFFQMSC">Buy on Amazon</a></div>
        </div>
      </div>
    </div>
  </div>

  {{ partial:related-posts }}

</div>

{{ partial:footer }}
