<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
        <link rel="icon" href="{{ mix src='/images/favicon.png' }}" type="images/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">
        <script src="{{ mix src='/js/scroll-to-top.js' }}"></script>
        <script src="{{ mix src='/js/topnav.js' }}"></script>
        <script src="{{ mix src='/js/search.js' }}"></script>
        <link rel="stylesheet" href="{{ mix src='css/styles.css' }}">

        {{ seotamic }}
    </head>
    <body class="body-inner">
        {{ template_content }}
    </body>
</html>
