<div class="cta-box">
    <div id="mc_embed_signup">
        <form class="validate" id="mc-embedded-subscribe-form" action="https://vasilym.us2.list-manage.com/subscribe/post?u=31675307b985dd1334cfdf9c9&amp;id=ee26540081" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
            <div id="mc_embed_signup_scroll">
                <h4 class="text-center">Get my BEST content updates delivered straight to your inbox.</h4>
                <p class="subheading text-center">Join my email list to be updated as soon as a new post is published. Unsubscribe anytime.</p>
                <div class="d-flex flex-column form-wrap mt-4">
                    <div class="mc-field-group mb-3"><label class="visually-hidden" for="mce-FNAME">First Name</label><input id="mce-FNAME" type="text" name="FNAME" placeholder="First Name" aria-label="First Name" /></div>
                    <div class="mc-field-group mb-3"><label class="visually-hidden" for="mce-EMAIL">Email Address<span class="asterisk">*</span></label><input class="required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email Address*" aria-label="Email Address*" /></div>
                    <div class="indicates-required mt-2 mb-4 text-center visually-hidden"><span class="asterisk">*</span> indicates required</div>
                    <div class="clear" id="mce-responses">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div><!--  real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_31675307b985dd1334cfdf9c9_ee26540081" tabindex="-1" /></div>
                    <div class="clear">
                        <div class="d-grid gap-2 text-center mb-1"><input class="btn btn-accent btn-lg button" id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" /></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
