@import url(https://unpkg.com/css.gg/icons/all.css);
@charset "UTF-8";
.social-links {
  max-width: 200px;
  display: flex;
  align-self: center;
  flex-shrink: 1;
  justify-content: space-between;
  margin: 0 auto;
}
.social-links .social-link {
  display: inline-block;
  color: #21252A;
}
.social-links .social-link.white {
  color: white;
}
.social-links .social-link:hover {
  color: #f85200;
}

.social-link ion-icon,
.list-group-item ion-icon {
  font-size: 36px;
}

img.social-icon {
  width: 36px;
  height: auto;
}
img.social-icon:hover, img.social-icon.white:hover {
  filter: invert(66%) sepia(70%) saturate(7152%) hue-rotate(2deg) brightness(96%) contrast(109%);
}

.social-share-list-holder {
  position: fixed;
  top: 170px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.social-share-list {
  position: absolute;
  right: 45px;
  top: 0;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}
.social-share-list:hover {
  opacity: 1;
}
.social-share-list .list-group-item {
  border: 0;
}
.social-share-list .list-group-item a {
  color: #aaa;
  display: block;
  height: 28px;
}
.social-share-list .list-group-item a:hover {
  color: #f85200;
}
.social-share-list .list-group-item ion-icon {
  font-size: 28px;
}
.social-share-list .list-group-item img.social-icon {
  width: 28px;
  display: block;
}

img.social-icon {
  filter: invert(80%) sepia(9%) saturate(19%) hue-rotate(326deg) brightness(86%) contrast(83%);
}
img.social-icon.white {
  filter: invert(93%) sepia(100%) saturate(27%) hue-rotate(97deg) brightness(106%) contrast(108%);
}

@media (max-width: 767.98px) {
  .social-share-list-holder {
    position: unset;
  }
  .social-share-list {
    position: unset;
    display: flex;
    justify-content: center;
  }
  .social-share-list .list-group-item {
    display: inline-block;
  }
}
body {
  font: 18px "Nunito Sans", Helvetica, Arial, sans-serif;
  color: #21252A;
}

html,
body,
.body-inner {
  height: 100%;
  margin: 0;
}

.body-inner {
  display: flex;
  flex-direction: column;
}

.max-layout-width {
  max-width: 1400px;
  margin: 0 auto;
}

p,
li {
  line-height: 1.55;
}
p small,
li small {
  display: inline-block;
  line-height: 1.4;
}

a,
.pseudo-link {
  color: #f85200;
}
a > span,
.pseudo-link > span {
  border-bottom: 1px solid #f85200;
}
a:hover,
.pseudo-link:hover {
  text-decoration: none;
  color: #999;
  cursor: pointer;
}
a:hover span,
.pseudo-link:hover span {
  border-bottom: 1px solid #999;
}

.light-gray {
  color: #999;
}

.max-body-width {
  max-width: 1600px;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: 300;
  line-height: 1.1;
}

h2 {
  font-size: 2.88rem;
}

h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.flex-1 {
  flex: 1;
}

p {
  margin: 0 0 1rem;
}

.btn {
  border: 0;
  box-shadow: 6px 6px 0 rgb(0, 0, 0);
  border-radius: 0;
  padding: 12px 28px;
  font-weight: 600;
}
.btn [class^=gg] {
  --ggs: 1.1;
}

.btn-primary {
  background-color: #f3f3f3;
  color: #333;
}
.btn-primary:hover {
  background-color: #999;
}
.btn-primary:active, .btn-primary:active:focus:not(:disabled), .btn-primary:focus {
  background-color: gray;
}

.btn-accent {
  background-color: #f85200;
  color: white;
}
.btn-accent:hover {
  background-color: #c54100;
  color: white;
}

.btn-secondary {
  background-color: #16B5E8;
  color: white;
}
.btn-secondary:hover {
  background-color: #1291b9;
  color: white;
}

.section {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.page-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 500px;
}

@media (min-width: 500px) {
  .page-wrapper {
    padding: 50px 20px;
    height: 600px;
  }
}
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 1001;
  padding: inherit 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
}
.navbar .nav-link {
  font-size: 1.4rem;
}
.navbar:hover img.on-hover {
  top: 5px;
  display: inline-block;
}

.opaque {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767.98px) {
  .navbar-brand {
    padding: 0;
    margin: -5px 0;
  }
}
.navbar-brand {
  position: relative;
  overflow: hidden;
}
.navbar-brand img {
  width: 62px;
  height: 62px;
}
.navbar-brand img.on-hover {
  transition: all 0.2s ease-in;
  position: absolute;
  top: -75px;
  left: 0;
  z-index: 99;
}

hr.dashed {
  border-style: dashed;
}

.page-header {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.page-header p {
  line-height: 1.5;
}
.page-header h2 {
  font-weight: 600;
  font-size: 4.1rem;
}
.page-header h3 {
  font-weight: 300;
}
.page-header .meta {
  margin: 0 auto;
}
.page-header .compact {
  max-width: 360px;
}

.page-header-med h2 {
  font-weight: 300;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-size: 66px;
}
.page-header-med h3 {
  font-size: 24px;
  opacity: 0.4;
}

@media (max-width: 767.98px) {
  .page-header {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #efefef;
  }
  .page-header h2 {
    font-size: 2.88rem;
    line-height: 1;
  }
  .page-header-med h2 {
    font-size: 2rem;
  }
  .page-header-med h3 {
    font-size: 1.4rem;
  }
}
.page-intro {
  max-width: 500px;
}

.page-callout p {
  font-size: 1.15rem;
  max-width: 580px;
  margin: 0 auto 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #777;
}
.page-callout p:last-child {
  margin-bottom: 0;
}
.page-callout .subtext p {
  font-size: 1.15rem;
}

@media (min-width: 768px) {
  .cols-same-height .row {
    display: flex;
    flex-wrap: wrap;
  }
  .cols-same-height .row > [class*=col-] {
    display: flex;
    flex-direction: column;
  }
  .post-card a {
    height: 100%;
  }
}
.hero {
  max-width: 470px;
  margin: 60px auto 0;
}

.even {
  background-color: #fff;
}

.gold {
  background-color: #f6f6ee;
}

@media (max-width: 544px) {
  h3 {
    font-size: 22px;
  }
  .page-callout p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .page-callout p p {
    font-size: 22px;
  }
}
.brand-logo {
  background-image: url(/images/logos.png?29d117cc4e69447ab27e7f1e8712a514);
  display: inline-block;
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin: 0;
  vertical-align: top;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .brand-logo {
    background-image: url(/images/logos@2x.png?aa0e6e045e00fe1cb68a59195d8f14a3);
    background-size: 515px auto;
  }
}
.logo-sen {
  background-position: 0 0;
  width: 136px;
  height: 38px;
}

.logo-psn {
  background-position: -185px 0px;
  width: 138px;
  height: 40px;
}

.logo-fb {
  background-position: -370px 0;
  width: 146px;
  height: 34px;
}

.logo-bmw {
  background-position: -103px -86px;
  width: 107px;
  height: 67px;
}

.logo-mb {
  background-position: -290px -83px;
  width: 110px;
  height: 70px;
}

.logos {
  display: inline-block;
}
.logos .brand-logo + .brand-logo {
  margin-left: 80px;
}
.logos .row {
  margin-top: 40px;
}

@media (max-width: 544px) {
  .logos .row + .row {
    margin-top: 0;
  }
  .logos .brand-logo + .brand-logo {
    margin-left: 10px;
  }
  .logos .brand-logo {
    margin-bottom: 30px;
  }
}
.intro-photo {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
  max-width: 360px;
}

.ebook-photo {
  max-width: 175px;
}
@media (max-width: 767px) {
  .ebook-photo {
    max-width: 125px;
  }
}

.blog-digest {
  background-color: #eee;
}

.digest-grid {
  display: grid;
  grid-template-rows: auto minmax(1fr, 25vh) auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  border-top: 1px solid #aaa;
}
.digest-grid a {
  display: block;
  position: relative;
  overflow: hidden;
}
.digest-grid a:nth-child(1) {
  grid-row: 1;
}
.digest-grid a:nth-child(2) {
  grid-row: 2;
}
.digest-grid a .square img {
  z-index: 0;
}
.digest-grid .grande {
  grid-column: 2;
  grid-row: 1/4;
  border-left: 1px solid #aaa;
}
.digest-grid .small {
  grid-column: 1;
}
.digest-grid .small .heading {
  font-size: 1.8rem;
}
.digest-grid .summary-wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.digest-grid .summary-wrapper .square {
  flex-shrink: 0;
  min-width: calc(50% - 20px);
}
.digest-grid .summary-wrapper-vert {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.digest-grid [class^=summary-wrapper] .meta {
  display: block;
  margin-bottom: 0.5rem;
}
.digest-grid [class^=summary-wrapper] p {
  font-size: 1.15rem;
}

.meta {
  display: block;
  color: #999;
}

.stretch {
  overflow: hidden;
}
.stretch img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.post-card a {
  display: block;
  color: currentColor;
  text-decoration: none;
  width: 100%;
  margin: 0 0 0.5rem;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #d0d0d0;
  background-color: #f3f3f3;
  border-radius: 2px;
  transition: 400ms ease;
}
.post-card a:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.post-card p {
  font-size: 1.15rem;
  line-height: 1.4;
}
.post-card .heading {
  font-size: 1.4rem;
  font-weight: 600;
}
.post-card .heading.lg {
  font-size: 1.8rem;
}
.post-card .card-img {
  height: 225px;
}
.post-card .card-img img {
  width: 100%;
  border-radius: 2px 2px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.post-card .card-caption {
  position: relative;
  background: #f3f3f3;
  padding: 15px 25px 5px 25px;
  border-radius: 0px 0px 4px 4px;
}
.post-card .pseudo-link {
  border-color: #f85200;
}

.video-container {
  margin-top: -90px;
}

.video {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.video .page-wrapper {
  display: flex;
  height: 800px;
  padding-bottom: 0;
}
.video .page-header h3 {
  font-size: 1.4rem;
  color: #999;
  margin-bottom: 0;
}

@media (max-width: 1370px) {
  .video .page-wrapper {
    display: flex;
    height: 600px;
  }
}
@media (max-width: 500px) {
  .video .page-wrapper {
    display: flex;
    height: 380px;
    background: rgba(255, 255, 255, 0.7);
  }
}
.video .page-header {
  width: auto;
  z-index: 1;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 40px 40px 0;
  display: inline-flex;
  margin: 0 auto;
  flex-direction: column;
  align-self: flex-end;
}

@media (max-width: 500px) {
  .video .page-header {
    background: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
    padding-bottom: 22px;
  }
}
.video-holder {
  height: 900px;
  left: 50%;
  margin: 0;
  max-width: 1400px;
  min-width: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 0;
}
.video-holder video {
  left: 50%;
  min-width: 1200px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.odd {
  background-color: #f2f4f8;
}

.scheme {
  background: url(/images/bg-square.svg);
}
.scheme h2 {
  color: #999;
}

.illustration {
  max-width: 900px;
  margin: 60px auto 0;
}

.vm-tooltip {
  position: absolute;
  right: -172px;
  top: 0;
  color: white;
  padding: 15px;
  font-size: 1.15rem;
  background-color: #333;
}
.vm-tooltip:after {
  content: "";
  left: -20px;
  top: 0%;
  transform: translateY(70%);
  border-width: 10px;
  border-color: transparent #333 transparent transparent;
  z-index: 4;
  border-style: solid;
  position: absolute;
}

.tooltip-zone:hover *:not(.vm-tooltip) {
  opacity: 0.85;
}
.tooltip-zone .vm-tooltip {
  opacity: 0;
  transition: all 1s cubic-bezier(1, -1, 0, 2);
}
.tooltip-zone:hover .vm-tooltip {
  opacity: 1;
}

@media (max-width: 767.98px) {
  .tooltip-zone .vm-tooltip {
    display: none;
  }
}
.hidden-link,
.hidden-link:hover {
  color: inherit;
  text-decoration: none !important;
  border-bottom: 0 !important;
}

.contact h4 {
  font-size: 2rem;
}
.contact p {
  margin-top: 2rem;
  color: #aaa;
  font-size: 1.15rem;
  line-height: 1.4;
}

@media (max-width: 704px) {
  h4 + .calendly-inline-widget {
    margin-top: 2rem;
  }
}
.light-text {
  color: #aaa;
}

.blog-content {
  min-height: 65vh;
}
.blog-content img {
  max-width: 100%;
  width: auto;
}
.blog-content figure figcaption {
  margin-top: 0.5rem;
  color: #aaa;
  font-size: 1rem;
  font-weight: 300;
}
.blog-content figure figcaption a {
  color: inherit;
}
.blog-content a:not(.btn):not(.tag) {
  text-decoration: underline;
}
.blog-content ul,
.blog-content ol {
  margin: 0 0 1rem;
}
.blog-content ul li > ul,
.blog-content ol li > ul {
  margin-bottom: 0;
}

.nav-back .link-wrapper {
  font-size: 2rem;
}
.nav-back .link-wrapper * {
  transition: all 0.2s ease-in-out;
}
.nav-back .link-wrapper ion-icon {
  opacity: 0.5;
  margin-bottom: 4px;
  margin-right: 4px;
}
.nav-back .link-wrapper span {
  opacity: 0;
  position: relative;
  right: -10px;
  border-width: 0;
}
.nav-back:hover [name=arrow-back] {
  opacity: 0.8;
}
.nav-back:hover span {
  opacity: 1;
  right: 0;
}

@media (max-width: 991.98px) {
  .nav-back .link-wrapper {
    font-size: 1.4rem;
  }
}
[role=tags] {
  margin-bottom: -4px;
}

.tag {
  border-radius: 3px;
  color: #f3f3f3;
  padding: 0.3em 0.65em 0.4em;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

a.tag {
  background-color: #aaa;
  margin-right: 10px;
  margin-bottom: 4px;
}
a.tag:last-child {
  margin-right: 0;
}
a.tag:hover {
  background-color: #f85200;
  color: white;
}

.tag-small {
  font-size: 14px;
  font-weight: 300;
  padding: 0.075em 0.45em 0.075em;
  margin-bottom: 0.5rem;
  color: #aaa;
  border: 1px solid #aaa;
}

.tags-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.badge-accent {
  background-color: #f85200;
  color: white;
}

.author {
  display: inline-block;
  color: #999;
  border-top: 2px #999 solid;
  padding-right: 1rem;
  padding-top: 0.5rem;
  font-size: 1rem;
}

.page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.page .post-title {
  font-size: 3rem;
  font-weight: bold;
}
.page h1 {
  font-size: 2.88rem;
}
.page h2 {
  font-size: 2rem;
}
.page h3 {
  font-size: 1.8rem;
}
.page h4 {
  font-size: 1.4rem;
}
.page ul + p {
  margin-bottom: 1.5rem;
}
.page p + h2 {
  margin-top: 2.5rem;
}
.page p + h3,
.page p + h4 {
  margin-top: 1.75rem;
}

@media (max-width: 991.98px) {
  .page .post-title {
    font-size: 2rem;
  }
}
.featured-article-list-layout {
  display: flex;
  align-items: stretch;
}

.article-list li > a {
  display: block;
  color: #21252A;
  text-decoration: none;
}
.article-list li > a small {
  color: #333;
  font-size: 1rem;
  font-weight: 200;
}
.article-list li > a:hover {
  color: #f85200;
}
.article-list .featured {
  width: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.article-list .featured a {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.article-list .featured h3 {
  font-size: 1.8rem;
}
.article-list .hover-effect:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  background-color: #f85200;
  height: 5px;
  transition: top 0.2s ease-in-out;
}
.article-list .hover-effect:hover {
  transition: top 1s ease-in-out;
}
.article-list .hover-effect:hover * {
  color: #f85200;
}
.article-list .hover-effect:hover .text {
  background-color: #ffe9df;
}
.article-list .hover-effect:hover:after {
  top: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.article-list .square {
  overflow: hidden;
  width: 14vw;
  min-width: 250px;
  position: relative;
}
.article-list .square img {
  height: 100%;
  width: auto;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
}
.article-list .text {
  padding: 20px 30px;
  background-color: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.article-list .text small {
  display: block;
  margin-bottom: 0.5rem;
}
.article-list .text p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 0;
}
.article-list.plain-list {
  line-height: 1.2;
  flex-direction: column;
}
.article-list.plain-list li {
  margin-bottom: 3rem;
}
.article-list.plain-list h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .article-list {
    display: block;
  }
  .article-list a small {
    font-size: 1rem;
  }
  .article-list .featured {
    width: 100%;
    flex-shrink: 0;
  }
  .article-list .featured h3 {
    font-size: 1.4rem;
  }
  .article-list .featured p {
    font-size: 1rem;
  }
  .article-list .square {
    width: 150px;
  }
  .article-list .text {
    padding: 20px;
  }
  .article-list.plain-list h3 {
    font-size: 1.15rem;
  }
  .article-list.plain-list > li {
    margin-bottom: 1rem;
    min-height: 4rem;
  }
}
.img-frame {
  flex: 0 0 200px;
}

@media (max-width: 767.98px) {
  .img-frame {
    flex: 0 0 120px;
  }
}
.columns {
  -moz-columns: 2;
       columns: 2;
  -webkit-columns: 2;
  display: list-item;
}
.columns li {
  display: inline-block;
  width: 100%;
}

[class^=gg] {
  display: inline-block;
  --ggs: 0.7;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-family: Georgia, serif;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25rem;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.post-nav [class*=gg] {
  vertical-align: sub;
  --ggs: 0.8;
}
.post-nav a {
  color: #333;
  line-height: 1.4;
  display: block;
  text-decoration: none;
}
.post-nav a:hover {
  color: #f85200;
  border-color: #f85200;
}
.post-nav a:hover span {
  border-color: #f85200;
}
.post-nav a:hover .direction {
  font-weight: 600;
}
.post-nav .direction {
  color: #999;
  border-width: 0;
}
.post-nav .direction.prev {
  margin-left: -15px;
}
.post-nav .direction.next {
  margin-right: -15px;
}
.post-nav .title {
  font-size: 1.15rem;
  border-bottom: 0;
}

.scroll-to-top {
  position: fixed;
  bottom: 4.5rem;
  right: 1rem;
  padding: 1rem;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.scroll-to-top [class*=gg-] {
  color: #ba673e;
  --ggs: 2.5;
}
.scroll-to-top:hover {
  opacity: 1;
}
.scroll-to-top:hover [class*=gg-] {
  color: #f85200;
}
.scroll-to-top.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 767.98px) {
  .scroll-to-top {
    display: none;
  }
}
/* ================================================
  Footer
==================================================*/
.footer {
  padding: 20px 0;
  background-color: #333;
  color: #aaa;
  margin-top: auto;
  font-size: 1rem;
}
.footer .heading {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #aaa;
}
.footer .nav-cols {
  max-width: 600px;
  padding-left: 1rem;
  padding-top: 1rem;
}
@media (max-width: 575.98px) {
  .footer .nav-cols {
    padding-left: 0.5rem;
  }
}
.footer ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}
.footer ul li {
  line-height: unset;
  padding-bottom: 0.75rem;
}
.footer ul li a {
  display: block;
}
.footer p {
  margin-bottom: 0;
}
.footer p span {
  color: #eee;
}
.footer a {
  color: #eee;
  text-decoration: none;
}
.footer a:hover {
  color: #f85200;
}
.footer .fun-link {
  display: inline-block;
  color: #aaa;
  padding: 10px 10px;
  margin: -10px -10px -10px 0;
}
.footer .fun-link span {
  border-color: #aaa;
}
.footer .fun-link:hover {
  color: #333;
  background-color: white;
}
.footer .fun-link:hover span {
  color: #96a9b4;
  border-color: #96a9b4;
}
.footer .icon {
  vertical-align: initial;
  margin: -5px 0;
}
@media (max-width: 575.98px) {
  .footer .bottom-line {
    text-align: center;
    width: 100%;
  }
  .footer .bottom-line .line {
    display: block;
    margin-top: 1rem;
  }
}

/* ================================================
  /Footer
==================================================*/
.horizontal-flip {
  transform: scale(-1, 1);
}

.form-control {
  border: 0;
  border-bottom: 2px solid #21252A;
  border-radius: 0;
  font-size: 1.15rem;
}
.form-control:focus {
  box-shadow: none;
  border-color: #f85200;
}

.search-container {
  position: relative;
}
.search-container .form-control {
  padding-left: 8px;
}
.search-container .gg-search {
  position: absolute;
  left: -20px;
  bottom: 15px;
  z-index: 3;
  cursor: pointer;
  --ggs: 1;
}
@media (max-width: 767.98px) {
  .search-container .form-control {
    padding-left: 28px;
  }
  .search-container .gg-search {
    left: 5px;
  }
}
.search-container [class*=close] {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 3;
  cursor: pointer;
  --ggs: 1;
}

.search-results {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.search-results li a {
  display: block;
  padding: 10px 15px;
  color: #333;
}
.search-results li a:hover {
  background-color: #eee;
  color: inherit;
}
.search-results li:first-child a {
  padding-top: 15px;
  border-radius: 4px 4px 0 0;
}
.search-results li:last-child a {
  padding-bottom: 15px;
  border-radius: 0 0 4px 4px;
}
.search-results li:only-child a {
  border-radius: 4px;
}

.cta-box {
  padding: 2rem 4rem;
  border: 1px solid #aaa;
  border-radius: 3px;
}
@media (max-width: 767.98px) {
  .cta-box {
    padding: 2rem;
  }
}
.cta-box h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.cta-box .subheading {
  line-height: 1.3;
  color: #999;
}
.cta-box input[type=text],
.cta-box input[type=email] {
  border-radius: 3px;
  border: 2px solid #999;
  padding: 0.6rem 0.75rem;
  width: 100%;
}
.cta-box .form-wrap {
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 767.98px) {
  .cta-box .form-wrap {
    width: 100%;
  }
}

.indicates-required {
  font-size: 1rem;
  color: #999;
}

/* Home */
.home h2 {
  font-size: 2rem;
}

/* About */
.img-about {
  max-width: 327px;
  width: 50%;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .img-about {
    width: 100%;
  }
}

.img-about-2 {
  width: auto;
}

.foliage {
  background: #333 url(/images/bg-foliage.jpg?57900e5f77425b9af0a293a7a2e14410) no-repeat;
  background-size: contain;
  position: relative;
}
.foliage:after {
  content: "";
  position: absolute;
  top: 250px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #333;
  z-index: 0;
}
.foliage:before {
  content: "";
  position: absolute;
  height: 300px;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(/images/bg-bottom-foliage.jpg?903173916584d6c1cb76f7a153df8239) no-repeat;
  z-index: 1;
}
.foliage * {
  position: relative;
  z-index: 1;
}
.foliage h5 {
  color: white;
  font-size: 1.4rem;
}
.foliage .offset-12 {
  margin-top: -12rem;
}
@media (max-width: 767.98px) {
  .foliage .offset-12 {
    margin-top: 0;
  }
}
.foliage .push-12 {
  margin-top: 14rem;
}
@media (max-width: 767.98px) {
  .foliage .push-12 {
    margin-top: 0;
  }
}
.foliage .col-bg-dark {
  background: rgba(33, 37, 42, 0.5);
  padding: 2rem;
}
.foliage .col-bg-light {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
}
.foliage .col-bg-light h2,
.foliage .col-bg-light h3,
.foliage .col-bg-light h4,
.foliage .col-bg-light p {
  color: #21252A;
}
.foliage h3,
.foliage h4 {
  color: white;
  font-weight: 600;
}
.foliage p {
  color: #aaa;
}
.foliage .quote {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
}

.with-shadow {
  box-shadow: 0px 18px 15px rgba(0, 0, 0, 0.5);
}

.flex-parent {
  display: flex;
  align-items: stretch;
}

.image-accordeon {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 400px;
}
.image-accordeon ul {
  display: flex;
  height: 100%;
}
.image-accordeon ul li {
  display: inline-flex;
  height: 100%;
  width: 25%;
  flex: 1;
  overflow: hidden;
  transition: 0.35s ease-in-out;
}
.image-accordeon ul li:hover {
  flex: 4;
}
.image-accordeon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Films Page */
[class*=films] .card {
  border: 0;
}
[class*=films] .card-body {
  padding-top: 0;
}

.film-meta {
  color: #999;
  font-size: 1rem;
  font-weight: 400;
}

.desc p {
  font-size: 1.15rem;
  line-height: 1.4;
}

.film-image-col {
  background: linear-gradient(90deg, #cccccc 2.04%, rgba(204, 204, 204, 0) 50%);
}
.film-image-col img {
  max-width: 340px;
}
@media (max-width: 767.98px) {
  .film-image-col img {
    max-width: 100%;
  }
}
