$family-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

$main-bg: #eee;
$black: #21252A;
$text-color: #333;
$very-light-gray: #f3f3f3;
$light-gray: #999;
$lighter-gray: #aaa;
$accent-color: #f85200;
$link-color: #1376a4;
$tapirio-color: #96a9b4;
$secondary-color: #16B5E8;

$font-xs: 1rem; // 
$font-sm: 1.15rem; // 18.4px
$font-md: 1.4rem; // 22.4px
$font-lg: 1.8rem; // 28.8px
$font-xl: 2rem; // 32px
$font-xxl: 2.88rem; // 
$font-hu: 4.1rem; // 66px
