{{ partial:header }}

<div class="container page-header">
  <div class="row">
    <div class="col">
      <div class="text-center mt-4 mb-4">
        <h2 class="mb-4">Contact</h2>
        <p>Email your questions and feedback at <a href="mailto:contact@vasilym.com">contact@vasilym.com</a>. </p>
        <p class="meta">Follow me on <a href="https://twitter.com/rapidsystemshub">Twitter</a> for an occasional dose of casual wisdom. </p>
      </div>
    </div>
  </div>
</div>

<div class="section odd contact">
  <div class="page-wrapper text-center">
    <h4 class="mt-4">Schedule a Chat</h4>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/vasily-m?primary_color=f85200" style="min-width:320px;height:650px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
  </div>
</div>

{{ partial:footer }}
