{{ partial:header }}

<div class="container-fluid page-header">
  <div class="row">
    <div class="col">
      <div class="text-center mt-4 mb-4">
          <h2>{{title}}</h2>
          <p class="meta compact">{{content}}</p>
      </div>
    </div>
  </div>
</div>

<div class="section odd">
  <div class="container page">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-1">Who Is Vasily? Or Simon?</h3>
        <p class="meta">It’s time to unveil the person behind the name</p>
        <p>Born in Russia in the decade of the sunsetting of the Soviet Union Vasily spent his formative years in creative environments. Surrounded by writers, artists, designers, programmers he was bound to be on the crossroads of creativity.</p>
        <p>Vasily embodies the idealistic age of yore and the pragmatic fast-paced new era of rapidly developing technology. Naturally curious he connects the dots between tribal mysticism, applied phylosophy, wide-range frequency beats and graphical user interface. </p>
        <p>Simon is his middle name. Turns out it's a name that is easier to pronounce and remember.</p>
      </div>
      <div class="col-md-6">
        <h4>Creative, Thoughtful, Motivating </h4>
        <p>In terms of labels (or #hashtags): world traveler, digital nomad, copywriter, techie, designer, musician, rookie philosopher, mentor for those who are stuck.</p>
        <div class="flex-parent">
          <div class="image-accordeon">
            <ul class="list-unstyled">
              <li>
                <img src="/images/about/vasily-cubertura.jpg" alt="V looks at this phone">
              </li>
              <li>
                <img src="/images/about/vasily-office-full.jpg" alt="V looks at this phone">
              </li>
              <li>
                <img src="/images/about/simao-62.jpg" alt="V looks at this phone">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="foliage mb-0 py-5">
  <div class="container">
    <div class="row">
      <div class="text-center w-100">
        <img class="img-about img-about-2" src="/images/vasily-cult.jpg" alt="Vasily's Photo">
      </div>
    </div>
    <div class="row offset-12">
      <div class="col-md-4 col-bg-dark mb-4">
        <h4>Vagabonding Meets Wanderlust: The Digital Nomad Lifestyle</h4>
        <p>After moving to the USA in 2002, I lived in Los Angeles, San Francisco, New York, and Miami with short stints in a number of other US cities.</p>
        <p>I began traveling more regularly in 2016, and spent some time in Canada, Mexico, Colombia, Brazil, Spain, Germany, The Netherlands, Poland, Thailand, Japan among others.</p>
        <p>I made a lot of friends along the way and became deeply interested in cultures and languages I encountered.</p>
        <p>I speak English, Russian, Spanish, and Portuguese.</p>
      </div>
      <div class="col-md-4">
        <div class="text-center push-12">
          <h4 class="mb-3">Social Media</h4>
          <ul class="list-inline d-flex-inline social-links">
            <li class="list-inline-item">
              <a class="social-link white align-middle" href="https://twitter.com/rapidsystemshub">
                <ion-icon name="logo-twitter" data-dashlane-observed="true" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-link white align-middle" href="https://instagram.com/vasily">
                <ion-icon name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram" data-dashlane-observed="true"></ion-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-link white align-middle" href="https://www.linkedin.com/in/vmyazin/">
                <ion-icon name="logo-linkedin" role="img" class="md hydrated" aria-label="logo linkedin" data-dashlane-observed="true"></ion-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-link align-middle" href="https://t.me/vasilymz">
                <img class="social-icon white" src="/images/social/logo-telegram.svg">
              </a>
            </li>
          </ul>
          <p class="quote mt-5">"If you have to wonder about it, choose to trust your intuition."</p>
        </div>
      </div>
      <div class="col-md-4 col-bg-dark mb-4">
        <h4>Creative Outlets</h4>
        <p>Since I was 3 years old I was into drawing using a variety of mediums: pen sketching, ink, markers, color pencials, watercolors, goache, acrilics, and eventually iPad with a digital pen (my current method). See more on <a href="https://www.instagram.com/details_sketchy">@details_sketchy on Instagram</a>. </p>
        <p>In years 2002-2013 I actively produced music in the style of psy-trance under the moniker Konflux ( <a href="https://www.youtube.com/results?search_query=konflux+psy">tunes on YouTube</a>). </p>
        <p>2012-2017 I had a project called <a href="https://soundcloud.com/synter">Synter</a> dedicted to a house/techno + electro/trance blend of genres. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-bg-light my-5 with-shadow">
        <h3>How Can I Help You?</h3>
        <p>With my life experience I can inspire you to:</p>
        <ul class="mb-0">
          <li>learn about copywriting</li>
          <li>learn a new language</li>
          <li>travel</li>
          <li>work remotely</li>
          <li>learn how to create podcasts</li>
          <li>kick the habits that don’t serve you</li>
          <li>reinvent yourself</li>
        </ul>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="text-center mb-4">
          <h5>Ready to talk and see if we are a good fit?</h5>
        </div>
        <div class="d-grid gap-2 d-md-block m-auto text-center mb-4">
          <a class="btn btn-accent btn-lg btn-block button" href="/contact"> Get In Touch With Me</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial:footer }}
